@charset "utf-8";
/* CSS Document */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Ubuntu:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* GLobal styling ==================================================================== */
html,
body {
  margin: 0px;
  padding: 0px;
  font-family: montserrat, sans-serif;
  height: 99vh;
}
/* .max-width {
  max-width: 100%;
  padding: 0 80px;
  margin: auto;
} */

/* Global styling for similar items */
.about .about-content,
.services .services-content,
.contact .contact-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
section .title {
  position: relative;
  text-align: center;
  font-size: 40px;
  margin-bottom: 60px;
  padding-bottom: 20px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 600;
  text-shadow: 0px 4px 5px #666;
}
section .title::after {
  position: absolute;
  bottom: -8px;
  left: 50%;
  font-size: 19px;
  color: #12191e;
  padding: 0 5px;
  background: #fff;
  transform: translateX(-50%);
  text-shadow: 0px 0px 0px #fff;
}

/* Navigation Bar ====================================================================*/
.navigation {
  position: fixed;
  width: 100%;
  font-family: "Ubuntu", sans-serif;
  transition: all 0.3s ease;
  z-index: 1;
  background-color: #fff;
  backdrop-filter: blur(42px);
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* mix-blend-mode: difference; */
}
.navigation.nav-home {
  mix-blend-mode: normal;
  background-color: #000;
}

.navigation .logo a img {
  height: 90px;
  color: #fff;
  filter: drop-shadow(0px 4px 1px #ccc);
  filter: invert(99%) sepia(1%) saturate(540%) hue-rotate(153deg)
    brightness(114%) contrast(100%);
  mix-blend-mode: difference;
}
.navigation .menu {
  list-style: none;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}
.navigation .menu li {
  display: inline-block;
  padding: 10px 0;
}
.navigation .menu li a {
  text-decoration: none;
  color: #fff;
  text-shadow: 0px 3px 3px #666;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  transition: color 0.3s ease;
  mix-blend-mode: difference;
}
.navigation .menu li a:hover,
.navigation .menu li a.active {
  color: #5d7f98;
}
.navigation .menu-icon .menu-line {
  width: 20px;
  height: 3px;
  background-color: #006c67;
  margin-bottom: 4px;
}

/* Hide the link that should open and close the topnav on small screens */
.navigation .menu-icon {
  display: none;
}
/* When the screen is less than 600 pixels wide, hide all menu links. Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .navigation {
    flex-direction: column;
  }
  .navigation .width {
    width: 100%;
    margin-left: 15px;
    /* margin-top: 15px; */
  }
  .navigation .menu {
    width: 100%;
    display: none;
  }
  .navigation .menu-icon {
    display: block;
    position: absolute;
    right: 15px;
    top: 15px;
    padding-top: 24px;
  }
  .navigation .menu .list-item {
    display: block;
    border-top: 1px solid #000;
    text-align: center;
  }
  .navigation .menu.activ {
    display: block;
  }
}

/* Home section ====================================================================*/
.home {
  display: flex;
  background: url(../images/belts_blue.jpg) no-repeat;
  background-color: #000;
  background-attachment: fixed;
  height: 100vh;
  color: #ffffff;
  /* min-height: 500px; */
  background-position: 0px 93px;
  background-size: cover;
  /* background-clip: border-box; */
  /* background-clip: unset; */
}
.home .max-width {
  margin: auto;
}
.home .home-content .text {
  font-size: 50px;
  font-weight: 600;
  margin: 15% 20% 0 20%;
  left: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.home .home-content .text h1 {
  font-weight: bold;
  margin: 0px;
  color: #ffffff;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-blend-mode: normal;
}
.home .home-content .text h1 span {
  color: #ff2525;
}
.home .home-content .text p {
  font-size: 18px;
  line-height: 25px;
  margin: 20px 0px 0px;
  color: rgba(255, 255, 255, 1);
  text-shadow: 2px 2px 0 #000, -0.1px -0.1px 0 #000;
  font-family: montserrat, sans-serif;
  font-weight: 600;
}

@keyframes heartFadeInOut {
  0% {
    transform: scale(1);
  }
  25% {
    color: white;
    border: 3px solid pink;
  }
  35% {
    transform: scale(0.998);
    color: #ffe0e5;
    border: 3px solid #ffe0e5;
  }
  45% {
    transform: scale(1.002);
    color: #ff2525;
    border: 3px solid #ff2525;
  }
  55% {
    transform: scale(0.998);
    color: pink;
    border: 3px solid pink;
  }
  65% {
    transform: scale(1.002);
    color: #ff2525;
    border: 3px solid #ff2525;
  }
  75% {
    color: #ffe0e5;
    border: 3px solid #ffe0e5;
  }
  100% {
    transform: scale(1);
    color: white;
    border: 3px solid white;
  }
}

.home .home-content .text .get-in-touch {
  margin: 20px 0px 0px;
  border: 3px solid #fdfdfd;
  border-radius: 50%;
  line-height: 850%;
  background-color: transparent;
  color: #ffffff;
  font-size: 15px;
  font-weight: bolder;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  outline: none;
  text-shadow: 2px 2px 0 #000;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  transition: transform 80ms ease-in;
  animation-name: heartFadeInOut;
  animation-iteration-count: infinite;
  animation-duration: 1.66s;
}
.home .home-content .text .get-in-touch:hover {
  animation-name: none;
  animation-duration: 6.44s;
  transform: scale(1.03);
  color: #fff;
  border: 3px solid #fff;
}
.home .home-content .social .whatsapp {
  text-decoration: none;
  color: #25d366;
}
.home .home-content .social .facebook {
  text-decoration: none;
  color: #4267b2;
}
.home .home-content .social i {
  padding: 13px 20px;
  font-size: 27px;
}
.home .home-content .social .fa-facebook:hover,
.home .home-content .social .fa-whatsapp:hover {
  color: #fff;
}

@media screen and (max-width: 600px) {
  .home {
    background-attachment: scroll;
    /* background-size: cover; */
  }
  .home .home-content .text h1 {
    padding-top: 42px;
    font-size: 43px;
    margin-bottom: -10px;
  }
  .home .home-content .text p {
    font-size: 14px;
  }
  .home .home-content .text .get-in-touch-button {
    /* transform: scale(0.6); */
  }
  .home .home-content .text .get-in-touch {
    border-radius: 50%;
    height: 5em;
    width: 5em;
    font-size: 8px;
    margin-top: -20px;
    margin-bottom: -50px;
  }
}

/* About section ====================================================================*/
.about {
  padding: 85px 0;
  background: #fff;
  display: flex;
  height: 70vh;
  margin-bottom: 0px;
  /* grid-template-columns: 15% auto 15%; */
  /* grid-template-rows: 8px auto 12px; */
}
@media screen and (max-width: 880px) {
  .about {
    /* padding-bottom: 10em; */
  }
}
.about .title::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 55%;
  height: 3px;
  background: #111;
  transform: translateX(-50%);
}
.about .title::after {
  content: "Jaguar Landrover Specialists";
  background: #fff;
  color: #ff2525;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
}

@keyframes float {
  0% {
    filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 1));
    transform: translatey(0px);
    transform: scale(0.8);
  }
  50% {
    filter: drop-shadow(4px 33px 2px rgba(0, 0, 0, 0.1));
    transform: translatey(-20px);
    transform: scale(1);
  }
  100% {
    filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 1));
    transform: translatey(0px);
    transform: scale(0.8);
  }
}
@-moz-keyframes float {
  0% {
    filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 1));
    -moz-transform: translatey(0px);
    -moz-transform: scale(0.8);
  }
  50% {
    filter: drop-shadow(4px 33px 2px rgba(0, 0, 0, 0.1));
    -moz-transform: translatey(-20px);
    -moz-transform: scale(1);
  }
  100% {
    filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 1));
    -moz-transform: translatey(0px);
    -moz-transform: scale(0.8);
  }
}
@-webkit-keyframes float {
  0% {
    filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 1));
    -webkit-transform: translatey(0px);
    -webkit-transform: scale(0.8);
  }
  50% {
    filter: drop-shadow(4px 33px 2px rgba(0, 0, 0, 0.1));
    -webkit-transform: translatey(-20px);
    -webkit-transform: scale(1);
  }
  100% {
    filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 1));
    -webkit-transform: translatey(0px);
    -webkit-transform: scale(0.8);
  }
}
@keyframes float-neg {
  0% {
    filter: drop-shadow(4px 33px 2px rgba(0, 0, 0, 0.1));
    transform: translatey(-20px);
    transform: scale(1);
  }
  50% {
    filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 1));
    transform: translatey(0px);
    transform: scale(0.8);
  }
  100% {
    filter: drop-shadow(4px 33px 2px rgba(0, 0, 0, 0.1));
    transform: translatey(-20px);
    transform: scale(1);
  }
}
@-moz-keyframes float-neg {
  0% {
    filter: drop-shadow(4px 33px 2px rgba(0, 0, 0, 0.1));
    -moz-transform: translatey(-20px);
    -moz-transform: scale(1);
  }
  50% {
    filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 1));
    -moz-transform: translatey(0px);
    -moz-transform: scale(0.8);
  }
  100% {
    filter: drop-shadow(4px 33px 2px rgba(0, 0, 0, 0.1));
    -moz-transform: translatey(-20px);
    -moz-transform: scale(1);
  }
}
@-webkit-keyframes float-neg {
  0% {
    filter: drop-shadow(4px 33px 2px rgba(0, 0, 0, 0.1));
    -webkit-transform: translatey(-20px);
    -webkit-transform: scale(1);
  }
  50% {
    filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 1));
    -webkit-transform: translatey(0px);
    -webkit-transform: scale(0.8);
  }
  100% {
    filter: drop-shadow(4px 33px 2px rgba(0, 0, 0, 0.1));
    -webkit-transform: translatey(-20px);
    -webkit-transform: scale(1);
  }
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin-neg {
  100% {
    transform: rotate(-360deg);
  }
}
@-moz-keyframes spin-neg {
  100% {
    -moz-transform: rotate(-360deg);
  }
}
@-webkit-keyframes spin-neg {
  100% {
    -webkit-transform: rotate(-360deg);
  }
}

/* .about .about-content {
  text-align: center;
} */

/* Left tools */
.about .about-content .left {
  /* width: 4%; */
  /* margin-left: 4%; */
  align-items: flex-start;
  /* margin-left: 5%; */
  margin-right: 5%;
}
.about .about-content .left img {
  /* object-fit: cover; */
  /* mix-blend-mode: darken; */
}
.about .about-content .left img:hover {
  /* mix-blend-mode: normal; */
}
.about .about-content .left .tools {
  position: absolute;
  width: 22%;
  transform-origin: center;
}
.about .about-content .left .tools .screwdriver {
  animation: float 6s ease-in-out infinite;
  -moz-animation: float 6s ease-in-out infinite;
  -webkit-animation: float 6s ease-in-out infinite;
}
.about .about-content .left .tools #screwdriver {
  animation: spin 8s linear infinite;
  -moz-animation: spin 8s linear infinite;
  -webkit-animation: spin 8s linear infinite;
  top: -100px;
}
.about .about-content .left .tools .wrench {
  animation: float-neg 6s ease-in-out infinite;
  -moz-animation: float-neg 6s ease-in-out infinite;
  -webkit-animation: float-neg 6s ease-in-out infinite;
}
.about .about-content .left .tools #wrench {
  top: -20px;
  animation: spin-neg 6s linear infinite;
  -moz-animation: spin-neg 6s linear infinite;
  -webkit-animation: spin-neg 6s linear infinite;
}

/* Middle text*/
.about .about-content .middle {
  width: 56%;
  margin: auto;
}
.about .about-content .middle p {
  text-align: left;
  color: #000;
  font-size: 20px;
  margin-top: -18px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.about .about-content .middle p span {
  text-shadow: 0px 0px 1px #ff2525;
  color: #003844;
}
.about .about-content .middle p span.comp {
  text-shadow: 0px 0px 1px #ff2525;
}

/* Right Cogs */
.about .about-content .right {
  /* width: 22%; */
  /* margin-right: 50px; */
  align-items: flex-end;
  margin-left: 5%;
  padding-right: 6%;
}
.about .about-content .right .cogs {
  position: absolute;
  width: 22%;
  transform-origin: center;
  min-width: 40px;
}
.about .about-content .right .cogs #cog-top {
  top: -80px;
  animation: spin 8s linear infinite;
  -moz-animation: spin 8s linear infinite;
  -webkit-animation: spin 8s linear infinite;
}
.about .about-content .right .cogs #cog-middle {
  top: -40px;
  left: -40px;
  animation: spin-neg 8s linear infinite;
  -moz-animation: spin-neg 8s linear infinite;
  -webkit-animation: spin-neg 8s linear infinite;
}
.about .about-content .right .cogs #cog-bottom {
  animation: spin 8s linear infinite;
  -moz-animation: spin 8s linear infinite;
  -webkit-animation: spin 8s linear infinite;
}

@media screen and (max-width: 600px) {
  .about .title {
    margin-top: 18px;
    font-size: 35px;
    margin-bottom: 25px;
  }
  .about .title::before {
    height: 2px;
    top: 55px;
  }
  .about .title::after {
    font-size: 15px;
    top: 46px;
  }
  .about .about-content .middle {
    padding-top: 10px;
    width: 65%;
  }
  .about .about-content .middle p {
    padding-top: 15px;
    font-size: 15px;
    margin-bottom: 15px;
    text-align: left;
  }
  .about .about-content .left {
    padding-left: 15px;
    padding-top: 50px;
  }
  .about .about-content .right {
    width: 50px;
    transform: scale(0.5);
    margin-left: -5%;
    padding-right: 15px;
  }
}

/* Sevices section ================================================================= */
.services {
  margin-top: 5px;
}
.services::before {
  content: "";
  display: block;
  height: -1px; /*fixed header height */
  margin: 1px 0 0; /* negative fixed header height */
}
.services .max-width {
  padding-top: 1px;
}
.services .title {
  margin-top: 115px;
  margin-bottom: -80px;
}
.services .services-content {
  width: 100%;
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
  bottom: -50px;
}
.services .services-content .box {
  width: 350px;
  height: 410px;
  background-color: #12191e;
  border-radius: 10px;
  box-shadow: 2px 10px 12px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  margin: 20px 10px;
}
.services .services-content .box .service {
  color: #999;
  font-weight: bold;
  letter-spacing: 1px;
  font-family: bebas kai;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 26px;
}
.services .services-content .box .service-image {
  height: 60%;
  max-height: 100%;
  max-width: 100%;
}
.services .services-content .box .details {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
}
.services .services-content .box .details p {
  font-family: calibri;
  font-weight: bold;
  color: #888;
  text-align: center;
  margin-top: 20px;
}
.services .services-content .box:hover {
  background-color: #212b31;
  transform-style: preserve-3d;
  transform: scale(1.02);
  transition: all ease 0.3s;
}
.services .services-content .box:hover .service {
  color: #ff2525;
  transition: all ease 0.5s;
}
.services .services-content .box:hover .details p {
  color: #ccc;
}
/*--responsive for mobile phone--*/
@media (max-width: 720px) {
  .services {
    margin-top: 120px;
    margin-bottom: -180px;
  }
  .services .title {
    margin-top: 100px;
    font-size: 35px;
    margin-bottom: -90px;
  }
  .services .services-content .box {
    width: 94%;
    height: 500px;
  }
  .services .services-content .service-image {
    height: 250px;
  }
  .services .services-content .details p {
    font-size: 16px;
    width: 250px;
  }
}

/* Contact form ==================================================================================================================== */
.contact {
  background: #fff;
  height: 99vh;
  align-content: center;
  padding-bottom: 50px;
}
.contact::before {
  content: "";
  display: block;
  height: 1px; /*fixed header height */
  margin: -1px 0 0; /* negative fixed header height */
}
.contact .title {
  padding-top: 117px;
  margin-bottom: 0px;
}
.contact .container {
  margin: auto;
  margin-top: 0px;
  width: 80%;
  height: 420px;
  display: flex;
  flex-direction: row;
  background-color: transparent;
  box-shadow: 0px 10px 20px #12191e;
  border-radius: 15px;
}
/* Left side */
.contact .container .container-left {
  width: 50%;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  background-color: #f2f2f2;
  padding: 10px;
  background-color: #12191e;
  align-items: center;
  text-align: left;
}
.contact .container .container-left h3 {
  font-size: 36px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #fff;
  text-shadow: 0px 3px 4px #555;
  text-align: center;
}
.contact .container .container-left p {
  color: #999;
  text-align: center;
  margin: -15px 50px 45px 50px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: large;
}
.contact .container .container-left .information {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 15%;
}
.contact .container .container-left .information .my-cellphone,
.contact .container .container-left .information .my-email,
.contact .container .container-left .information .my-location {
  margin-top: auto;
  font-size: 18px;
  color: #006c67;
  margin-bottom: 10%;
  align-self: left;
}
.contact .container .container-left .information .my-cellphone a,
.contact .container .container-left .information .my-email a,
.contact .container .container-left .information .my-location a {
  color: #999;
  text-decoration: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.contact .container .container-left .information .my-cellphone a:hover,
.contact .container .container-left .information .my-email a:hover,
.contact .container .container-left .information .my-location a:hover {
  color: #fff;
}

/* Right side */
.contact .container .container-right {
  width: 50%;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 20px;
  background-color: #212b31;
  display: block;
  text-align: center;
}
.contact .container .container-right .contact-form {
  width: 70%;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  color: #fff;
  font-size: medium;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding-top: 30px;
}
.contact .container .container-right .contact-form .form-input {
  width: 100%;
  padding: 10px 0;
  background: none;
  border: none;
  border-bottom: 1px solid #666;
  color: #ccc;
  font-size: 16px;
  outline: none;
  transition: border-color 0.2s;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.contact .container .container-right .contact-form .form-input::placeholder {
  color: #666;
}
.contact .container .container-right .contact-form .form-input:focus {
  border-bottom-color: #006c67;
}
/* Inputs */
input[type="text"],
textarea {
  width: 100%; /* Full width */
  max-width: 100%;
  max-height: 180px;
  padding: 10px; /*Some padding */
  border-radius: 7px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 10px; /* Bottom margin */
  resize: none; /* Allow the user to vertically resize the textarea (not horizontally) */
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
input[type="submit"] {
  background-color: #006c67;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
input[type="submit"]:hover {
  background-color: #003844;
}

@media screen and (max-width: 600px) {
  .contact {
    margin-bottom: 10px;
  }
  .contact .title {
    font-size: 35px;
  }
  .contact .container {
    flex-direction: column;
    width: 90%;
  }
  .contact .container .container-left {
    width: fit-content;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 0;
  }
  .contact .container .container-left .information {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 15% 0 15%;
  }
  .contact .container .container-right {
    display: block;
    width: auto;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
  }
}
