@charset "utf-8";
/* CSS Document */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap");

/* GLobal styling ==================================================================== */
body {
  margin: 0px;
  padding: 0px;
  font-family: montserrat, sans-serif;
  height: 99vh;
}
.home {
  background-image: radial-gradient(at top left, #12191e 0%, #000000 55%);
}
.max-width {
  max-width: 100%;
  padding: 0 80px;
  margin: auto;
}


/* Navigation Bar ====================================================================*/
.navigation {
    position: fixed;
    width: 100%;
    padding: 10px 0;
    font-family: "Ubuntu", sans-serif;
    transition: all 0.3s ease;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.1);
    mix-blend-mode: difference;
    backdrop-filter: blur(10px);
  }
  .navigation .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .navigation .logo a img {
    height: 123px;
    color: #fff;
    mix-blend-mode: difference;
  }
  .navigation .menu li {
    list-style: none;
    display: inline-block;
  }
  .navigation .menu li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
    mix-blend-mode: difference;
  }
  .navigation .menu li a:hover {
    color: #5d7f98;
  }


/* Home section ====================================================================*/
.home {
    display: flex;
    background: url("images/Nhlanhla.png") top no-repeat,
      radial-gradient(at top left, #12191e 0%, #000000 55%);
    background-attachment: scroll;
    height: 100vh;
    background-size: cover;
    color: #ffffff;
    min-height: 500px;
    font-family: "Ubuntu", sans-serif;
  }
  .home .max-width {
    margin: auto 0 auto 40px;
  }
  .home .home-content .text {
    font-size: 50px;
    font-weight: 600;
    margin: 5px 0;
    left: 0px;
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 469px;
  }
  .home .home-content .text h1 {
    font-weight: bold;
    margin: 0px;
    color: #ffffff;
  }
  .home .home-content .text p {
    font-size: 32px;
    font-weight: 100;
    /* line-height: 20px; */
    /* letter-spacing: .5px; */
    margin: 20px 0px 30px;
    color: rgba(188, 188, 188, 1);
  }
  input[type="button"] {
    border: 1px solid #5d7f98;
    border-radius: 12px;
    background-color: transparent;
    color: #5d7f98;
    font-size: 12px;
    font-weight: bold;
    padding: 10px 25px;
    letter-spacing: 1px;
    text-transform: uppercase;
    outline: none;
    transition: transform 80ms ease-in;
  }
  input[type="button"]:active {
    transform: scale(0.95);
  }
  input[type="button"]:hover {
    color: #fff;
    border: 1px solid #fff;
  }
  .social a {
    text-decoration: none;
    color: #5d7f98;
  }
  .social i {
    padding: 13px 20px;
    font-size: 27px;
  }
  .fa-github:hover,
  .fa-linkedin:hover {
    color: #fff;
  }


/* About section ====================================================================*/
.about {
    padding: 100px 0;
    background: radial-gradient(circle at bottom, #5d7f98 5%, #f9fafb 5%);
    display: flex;
  }
  .about .max-width {
    max-width: 1200px;
  }
  .about .title::after {
    content: "Software Engineer";
    background: #f9fafb;
    color: #5d7f98;
  }
  .about .about-content .left {
    width: 45%;
  }
  .about .about-content .left img {
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 100px;
    transform: scale(1.2);
    mix-blend-mode: darken;
  }
  .about .about-content .left img:hover {
    mix-blend-mode: normal;
  }
  .about .about-content .right {
    width: 55%;
  }
  .about .about-content .right .text {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  .about .about-content .right .text span {
    font-size: 37px;
    font-weight: 600;
  }
  .about .about-content .right p {
    text-align: justify;
    color: #000;
    font-size: 18px;
  }
  .about .about-content .right a {
    transition: all 0.3s ease;
    text-decoration: none;
    color: #5d7f98;
  }
  .about .about-content .right a:hover {
    font-size: 101%;
    color: #12191e;
  }