@charset "utf-8";
/* CSS Document */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Ubuntu:wght@300;400;500;600;700&display=swap");

/* GLobal styling ==================================================================== */
body {
  margin: 0px;
  padding: 0px;
  font-family: montserrat, sans-serif;
  height: 99vh;
}
.home {
  /* background-image: radial-gradient(at top left, #fff 0%, #f1f1f1 55%); */
}
.max-width {
  max-width: 100%;
  padding: 0 80px;
  margin: auto;
}


/* Navigation Bar ====================================================================*/
.navigation {
    position: fixed;
    width: 100%;
    /* padding: 10px 0; */
    font-family: "Ubuntu", sans-serif;
    transition: all 0.3s ease;
    z-index: 1;
    background-color: rgba(255, 255, 255, 1);
    mix-blend-mode: difference;
    backdrop-filter: blur(42px);
  }
  .navigation .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
  }
  .navigation .logo a img {
    height: 110px;
    color: #fff;
    /* mix-blend-mode: difference; */
  }
  .navigation .menu li {
    list-style: none;
    display: inline-block;
  }
  .navigation .menu li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
    mix-blend-mode: difference;
  }
  .navigation .menu li a:hover {
    color: #5d7f98;
  }


/* Home section ====================================================================*/
.home {
    display: flex;
    background: url("images/belts.jpg") top no-repeat;
      /* radial-gradient(at top left, #12191e 0%, #000000 55%); */
    background-attachment: fixed;
    height: 100vh;
    /* background-size: cover; */
    color: #ffffff;
    min-height: 500px;
    /* font-family: "Ubuntu", sans-serif; */
    background-position: 0px -85px;
  }
  .home .max-width {
    margin: auto;
  }
  .home .home-content .text {
    font-size: 50px;
    font-weight: 600;
    margin: 15% 20% 0 20%;
    left: 0px;
    /* width: 55%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 469px;
  }
  .home .home-content .text h1 {
    font-weight: bold;
    margin: 0px;
    color: #ffffff;
  }
  .home .home-content .text p {
    /* font-family: "Ubuntu", sans-serif; */
    font-size: 18px;
    font-weight: 600;
    line-height: 25px;
    /* letter-spacing: .5px; */
    margin: 20px 0px 0px;
    color: rgba(255, 255, 255, 1);
    text-shadow: 2px 2px 0 #000, -0.1px -0.1px 0 #000
  }
  
  @keyframes heartFadeInOut {
    0% {transform: scale(1);}
    25% {color: white; border: 2px solid pink;}
    35% {transform: scale(0.998); color: #FFE0E5; border: 2px solid #FFE0E5;}
    45% {transform: scale(1.002); color: #ff2525; border: 2px solid #ff2525;}
    55% {transform: scale(0.998); color: pink; border: 2px solid pink;}
    65% {transform: scale(1.002); color: #ff2525; border: 2px solid #ff2525;}
    75% {color: #FFE0E5; border: 2px solid #FFE0E5;}
    100% {transform: scale(1); color: white; border: 2px solid white;}
  }
  
  .home .home-content .text .get-in-touch {
    /* width: 1px; */
    margin: 20px 0px 0px;
    border: 2px solid #fdfdfd;
    border-radius: 50%;
    line-height: 850%;
    background-color: transparent;
    color: #ffffff;
    font-size: 15px;
    font-weight: bolder;
    /* padding: 10px 25px; */
    letter-spacing: 1px;
    text-transform: uppercase;
    outline: none;
    text-shadow: 2px 2px 0 #000;
    transition: transform 80ms ease-in;

    animation-name: heartFadeInOut; 
    animation-iteration-count: infinite;
    animation-duration: 1.2s;
    /* animation-duration: 1s; */
  }


  .home .home-content .text .get-in-touch:active {
    transform: scale(0.95);
  }
  .home .home-content .text .get-in-touch:hover {
    animation-name: none; 
    color: #fff;
    border: 2px solid #fff;
  }
  .social a {
    text-decoration: none;
    color: #5d7f98;
  }
  .social i {
    padding: 13px 20px;
    font-size: 27px;
  }
  .fa-github:hover,
  .fa-linkedin:hover {
    color: #fff;
  }


/* About section ====================================================================*/
.about {
    padding: 100px 0;
    background: radial-gradient(circle at bottom, #5d7f98 5%, #f9fafb 5%);
    display: flex;
  }
  .about .max-width {
    max-width: 1200px;
  }
  .about .title::after {
    content: "Software Engineer";
    background: #f9fafb;
    color: #5d7f98;
  }
  .about .about-content .left {
    width: 45%;
  }
  .about .about-content .left img {
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 100px;
    transform: scale(1.2);
    mix-blend-mode: darken;
  }
  .about .about-content .left img:hover {
    mix-blend-mode: normal;
  }
  .about .about-content .right {
    width: 55%;
  }
  .about .about-content .right .text {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  .about .about-content .right .text span {
    font-size: 37px;
    font-weight: 600;
  }
  .about .about-content .right p {
    text-align: justify;
    color: #000;
    font-size: 18px;
  }
  .about .about-content .right a {
    transition: all 0.3s ease;
    text-decoration: none;
    color: #5d7f98;
  }
  .about .about-content .right a:hover {
    font-size: 101%;
    color: #12191e;
  }